provider "aws" {
  default_tags {
    tags = {
      app                = "APP_NAME"
      iacdeployer        = "terraform"
      iacdeployerversion = "TERRAFORM_VERSION" # Value from: terraform -version
      iacgitcommit       = "GIT_COMMIT"        # Value from: git rev-parse --short=7 HEAD
    }
  }
  region      = "AWS_REGION"
  max_retries = 5

  skip_get_ec2_platforms  = true
  skip_metadata_api_check = true
}
